In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local") \
    .appName("pantheon") \
    .getOrCreate()

In [41]:
stazioneDf = spark.read.format('com.databricks.spark.csv')\
.options(delimiter=';',header='true', inferschema='true').load('datasets/pantheon20190612-stazione.csv')
stazioneDf.take(1)

[Row(id_dato=1811253, data_ora=datetime.datetime(2018, 10, 12, 14, 25, 15), temp1_media=25.99, temp1_min=25.93, temp1_max=26.08, ur1_media=56.69, ur1_min=52.56, ur1_max=58.97, temp1_ur1_n_letture=5, pioggia_mm=0.0, rad W/mq=75.0, rad_n_letture=5, wind_dir=6, wind_dir_n_letture=5, wind_speed_media=0.3, wind_speed_max=15.62, wind_speed_n_letture=25, pressione_mbar=1085.94, pressione_standard_mbar=1118.68, pressione_n_letture=5, rad W/mq array='{}')]

In [40]:
stazioneDf.printSchema()

root
 |-- id_dato: integer (nullable = true)
 |-- data_ora: timestamp (nullable = true)
 |-- temp1_media: double (nullable = true)
 |-- temp1_min: double (nullable = true)
 |-- temp1_max: double (nullable = true)
 |-- ur1_media: double (nullable = true)
 |-- ur1_min: double (nullable = true)
 |-- ur1_max: double (nullable = true)
 |-- temp1_ur1_n_letture: integer (nullable = true)
 |-- pioggia_mm: double (nullable = true)
 |-- rad W/mq: double (nullable = true)
 |-- rad_n_letture: integer (nullable = true)
 |-- wind_dir: integer (nullable = true)
 |-- wind_dir_n_letture: integer (nullable = true)
 |-- wind_speed_media: double (nullable = true)
 |-- wind_speed_max: double (nullable = true)
 |-- wind_speed_n_letture: integer (nullable = true)
 |-- pressione_mbar: double (nullable = true)
 |-- pressione_standard_mbar: double (nullable = true)
 |-- pressione_n_letture: integer (nullable = true)
 |-- rad W/mq array: string (nullable = true)

In [28]:
# con questa opzione della Spark Session impostata a True, non c'è più bisogno di usare show per vedere i dataframe;
# inoltre li posso vedere in modo non sballato
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)

In [29]:
stazioneDf

DataFrame[id_dato: int, data_ora: timestamp, temp1_media: double, temp1_min: double, temp1_max: double, ur1_media: double, ur1_min: double, ur1_max: double, temp1_ur1_n_letture: int, pioggia_mm: double, rad W/mq: double, rad_n_letture: int, wind_dir: int, wind_dir_n_letture: int, wind_speed_media: double, wind_speed_max: double, wind_speed_n_letture: int, pressione_mbar: double, pressione_standard_mbar: double, pressione_n_letture: int, rad W/mq array: string]

## Calcolo somma di pioggia ogni mese

In [31]:
stazioneDf.select('data_ora', 'pioggia_mm')

+-------------------+----------+
|           data_ora|pioggia_mm|
+-------------------+----------+
|2018-10-12 14:25:15|       0.0|
|2018-10-12 14:30:12|       0.0|
|2018-10-12 14:35:11|       0.0|
|2018-10-12 14:40:13|       0.0|
|2018-10-12 14:45:13|       0.0|
|2018-10-12 14:50:10|       0.0|
|2018-10-12 14:55:13|       0.0|
|2018-10-12 15:00:15|       0.0|
|2018-10-12 15:05:11|       0.0|
|2018-10-12 15:10:13|       0.0|
|2018-10-12 15:15:13|       0.0|
|2018-10-12 15:20:10|       0.0|
|2018-10-12 15:25:13|       0.0|
|2018-10-12 15:30:15|       0.0|
|2018-10-12 15:35:11|       0.0|
|2018-10-12 15:40:13|       0.0|
|2018-10-12 15:45:13|       0.0|
|2018-10-12 15:50:12|       0.0|
|2018-10-12 16:00:13|       0.0|
|2018-10-12 16:15:10|       0.0|
+-------------------+----------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import month, year
from pyspark.sql.functions import sum, avg
# fare lo show() non crea effettivamente l'oggetto ma lo mostra solamente, quindi se voglio creare un oggetto ed
# untilizzarlo, non devo usare lo show in un punto intermedio
df1 = stazioneDf.select(year('data_ora').alias("year"), month('data_ora').alias("month"), "pioggia_mm")\
.groupBy("year", "month").agg(sum("pioggia_mm").alias("total_rain")).orderBy("year", "month")

#df2 = stazioneDf.select(year('data_ora').alias("year"), month('data_ora').alias("month"))

#df_rain = df2.join(df1, 'month').show()

#.groupBy("month").agg(avg("year")).show()
#print(df1)

In [33]:
df1

+----+-----+------------------+
|year|month|        total_rain|
+----+-----+------------------+
|2018|   10| 13.15999999999998|
|2018|   11| 40.67999999999985|
|2018|   12| 9.079999999999988|
|2019|    1|23.599999999999905|
|2019|    2|16.839999999999968|
|2019|    3|1.4000000000000004|
|2019|    4|13.159999999999961|
|2019|    5|  37.5599999999997|
|2019|    6|               0.0|
+----+-----+------------------+

## Rilevamento di anomalie

In [34]:
from pyspark.sql import SparkSession
df1.createOrReplaceTempView("table1")
# spark.sql("SELECT year, month, sum(pioggia_mm) AS total_rain FROM table1 GROUP BY year, month")

In [35]:
# job che rileva se per un certo periodo di tempo ci sono valori nulli su una o più colonne, manda un alert
# o comunque da' TRUE. Questo può essere utile per capire se i sensori si sono guastati

In [36]:
# questa cella serve ad individuare i blocchi del dataframe accomunati da una caratteristica comune, ad esempio in questo caso
# vogliamo raggruppare tutti i blocchi con radiazione nulla e tutti quelli con radiazione non nulla
# la funzione lag serve , data una certa riga , a selezionare la riga che si trova ad un certo offset da questa, nel nostro caso 1
# usiamo lag per selezionare la riga subito sotto alla riga di inizio di un blocco 
# coalesce serve per selezionare, data una lista di colonne, la prima colonna non nulla
# count considera nel conteggio solo le celle non vuote, così può essere utile per individuare una sottocolonna con tutti valori non nulli
import pyspark.sql.functions as F
from pyspark.sql.window import Window
nullRadSlot = stazioneDf
nullRadSlot = nullRadSlot.withColumn("isnull", F.when(nullRadSlot['rad W/mq'].isNull(), True).otherwise(False))
nullRadSlot = nullRadSlot.withColumn("lag_isnull", F.lag(nullRadSlot["isnull"],1).over(Window.orderBy(nullRadSlot["data_ora"])))
nullRadSlot = nullRadSlot.withColumn("change", F.coalesce(nullRadSlot["isnull"]!=nullRadSlot["lag_isnull"],F.lit(False)))
nullRadSlot = nullRadSlot.withColumn("block", F.sum(nullRadSlot["change"].cast("int")).over(Window.orderBy(nullRadSlot["data_ora"])))\
  .groupBy("block")\
  .agg(F.min(nullRadSlot["data_ora"]).alias('mindata'),
    F.max(nullRadSlot["data_ora"]).alias('maxdata'),
    (F.count(nullRadSlot['rad W/mq'])==0).alias('blocco_isnull'))

In [37]:
nullRadSlot

+-----+-------------------+-------------------+-------------+
|block|            mindata|            maxdata|blocco_isnull|
+-----+-------------------+-------------------+-------------+
|    0|2018-10-12 14:25:15|2019-05-06 08:55:28|        false|
|    1|2019-05-06 13:40:10|2019-06-12 09:25:15|         true|
+-----+-------------------+-------------------+-------------+

In [38]:
timeFmt = "yyyy-MM-dd'T'HH:mm:ss.SSS"
timeDiff = (F.unix_timestamp('maxdata', format=timeFmt)
            - F.unix_timestamp('mindata', format=timeFmt))
nullRadSlot = nullRadSlot.withColumn("Duration", timeDiff)

In [39]:
nullRadSlot

+-----+-------------------+-------------------+-------------+--------+
|block|            mindata|            maxdata|blocco_isnull|Duration|
+-----+-------------------+-------------------+-------------+--------+
|    0|2018-10-12 14:25:15|2019-05-06 08:55:28|        false|17778613|
|    1|2019-05-06 13:40:10|2019-06-12 09:25:15|         true| 3181505|
+-----+-------------------+-------------------+-------------+--------+

## Calcolo temperatura media ed umidità settimanale

In [44]:
from pyspark.sql.functions import weekofyear
stazioneDf.select(weekofyear('data_ora'), 'temp1_media', 'ur1_media')

+--------------------+-----------+---------+
|weekofyear(data_ora)|temp1_media|ur1_media|
+--------------------+-----------+---------+
|                  41|      25.99|    56.69|
|                  41|      25.81|    57.25|
|                  41|      24.34|    52.91|
|                  41|      23.82|    54.17|
|                  41|      23.74|    55.22|
|                  41|      23.84|    57.18|
|                  41|      23.92|    56.15|
|                  41|      24.45|    54.74|
|                  41|      24.37|    54.01|
|                  41|      24.71|    52.08|
|                  41|       25.0|    48.41|
|                  41|      25.27|     46.8|
|                  41|      25.42|    46.21|
|                  41|      25.39|    47.07|
|                  41|      25.08|    45.27|
|                  41|      25.07|    47.84|
|                  41|       25.2|    47.64|
|                  41|      24.97|    47.39|
|                  41|       25.0|    47.82|
|                  41|      24.76|    48.51|
+--------------------+-----------+---------+
only showing top 20 rows

In [53]:
df2 = stazioneDf.select(where(stazioneDf.year('data_ora') == 2, stazioneDf.year('data_ora') + 1).alias("year"), \
                        weekofyear('data_ora').alias("week"), \
                        "temp1_media", \
                        "ur1_media")\
.groupBy("week").agg(avg("temp1_media").alias("mean_temp1"),\
                              avg("ur1_media").alias("mean_ur1")).orderBy("week")

In [54]:
df2

+----+------------------+------------------+
|week|        mean_temp1|          mean_ur1|
+----+------------------+------------------+
|   1| 4.075252976190477| 61.58029761904763|
|   2| 3.711937406855441| 72.22089418777941|
|   3| 5.784401197604781| 79.48673652694613|
|   4|3.8717168674698805| 80.87670180722884|
|   5| 5.550687593423019| 90.52663677130032|
|   6| 7.322846497764531| 74.13402384500745|
|   7| 8.061223880597026|53.742253731343304|
|   8| 6.788776119402983| 67.70213432835823|
|   9| 9.962324888226531| 59.35160953800301|
|  10|10.296855439642323| 82.48035767511178|
|  11|  9.33339791356184| 70.10299552906106|
|  12| 11.72640834575261| 58.95256333830114|
|  13| 10.33017937219731|56.012585949177875|
|  14| 9.924358208955228| 77.59340298507469|
|  15| 9.706169895678087| 81.62763040238443|
|  16|12.700327868852447| 67.17731743666172|
|  17| 13.98223880597013| 78.02147761194023|
|  18|10.965914855072478| 84.77298913043496|
|  19| 11.97069969356487| 76.79796220633294|
|  20| 11.81251366120218| 81.13484848484848|
+----+------------------+------------------+
only showing top 20 rows